<!--Page Title-->
<section class="page-title" style="background-image:url(../images/background/page-title-1.jpg);">
    <div class="auto-container">
        <h1>Services</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <!--Breadcrumb-->
        <div class="breadcrumb-outer pull-left">
            <ul class="bread-crumb clearfix">
                <li><a href="#" ng-click="goToHomePage()">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
        
        <!--Links-->
        <div class="links-outer pull-right">
            <div class="social-links-one clearfix">
                <a href="#"><span class="fa fa-facebook-square"></span></a>
                <a href="#"><span class="fa fa-twitter-square"></span></a>
                <a href="#"><span class="fa fa-linkedin-square"></span></a>
                <a href="#"><span class="fa fa-google-plus-square"></span></a>
                <a href="#"><span class="fa fa-vimeo-square"></span></a>
            </div>
        </div>
    </div>
</section>

<!--Gallery Section-->
<section class="gallery-section">
    <div class="auto-container">
        
        <!--Heading-->
        <div class="sec-title centered">
            <h2>Our Works</h2>
            <div class="icon-box"></div>
            <div class="desc-text">They call him Flipper Flipper faster than lightning no one you see is smarter than he well we are moving on up to the east side to a deluxe</div>
        </div>
        
        <!--Masonry Gallery-->
        <div class="masonry-gallery">
            <!--Filter-->
            <div class="filters text-center">
                <ul class="filter-tabs filter-btns clearfix">
                    <li id="nalee" class="active filter" data-role="button" data-filter=".all">All <span class="count">6</span></li>
                    <li class="filter" data-role="button" data-filter=".engine-service">Engine Service <span class="count">2</span></li>
                    <li class="filter" data-role="button" data-filter=".car-service">Car Service <span class="count">4</span></li>
                    <li class="filter" data-role="button" data-filter=".brake-service">Brake Service <span class="count">2</span></li>
                    <li class="filter" data-role="button" data-filter=".battery-service">Battery Service <span class="count">2</span></li>
                </ul>
            </div>

            <!--Items Container-->
            <div class="items-container clearfix">
                
                
                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all brake-service">
                    <div class="inner-box">
                        <figure class="image-box"><img src="../images/gallery/1.jpg" alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="../images/gallery/1.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                    <a href="#" class="option-btn" ng-click="goToServicesDetail()"><span class="fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all car-service">
                    <div class="inner-box">
                        <figure class="image-box"><img src="../images/gallery/2.jpg" alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="../images/gallery/2.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                    <a href="service-single.html" class="option-btn"><span class="fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all">
                    <div class="inner-box">
                        <figure class="image-box"><img src="../images/gallery/4.jpg" alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="../images/gallery/4.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                    <a href="service-single.html" class="option-btn"><span class="fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all engine-service car-service battery-service">
                    <div class="inner-box">
                        <figure class="image-box"><img src="../images/gallery/3.jpg" alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="../images/gallery/3.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                    <a href="service-single.html" class="option-btn"><span class="fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Default Portfolio Item-->
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 default-portfolio-item masonry-item all car-service battery-service">
                    <div class="inner-box">
                        <figure class="image-box"><img src="../images/gallery/6.jpg" alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="../images/gallery/6.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                    <a href="service-single.html" class="option-btn"><span class="fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Default Portfolio Item-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 default-portfolio-item masonry-item all engine-service car-service brake-service">
                    <div class="inner-box">
                        <figure class="image-box"><img src="../images/gallery/5.jpg" alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="../images/gallery/5.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                                    <a href="service-single.html" class="option-btn"><span class="fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Masonry Gallery-->
        
    </div>
</section>

<!--Call To Action Section-->
<section class="call-to-action" style="background-image:url(../images/background/image-5.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <h2>HOW CAN WE HELP?</h2>
            <div class="text">They call him Flipper Flipper faster than lightning no one you see is smarter than he well we are moving on up to the east side to a deluxe</div>
            <div class="hi-text"><strong>1 - 6367 - 8989 - 00</strong>  /  info@support.com</div>
            <a href="contact.html" class="theme-btn btn-style-one">Get Quote <span class="icon-right fa fa-angle-right"></span></a>
        </div>
    </div>
</section>

<!--News Section-->
<section class="news-section">
    <div class="auto-container">
        <!--Heading-->
        <div class="sec-title centered">
            <h2>OUR BLOG</h2>
            <div class="icon-box"></div>
            <div class="desc-text">They call him Flipper Flipper faster than lightning no one you see is smarter than he well we are moving on up to the east side to a deluxe</div>
        </div>
        
        <div class="row clearfix">
            
            <!--News Style One-->
            <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-single.html"><img src="../images/resource/blog-image-3.jpg" alt=""></a></figure>
                        <div class="date"><span class="day">28</span><span class="month">Aug</span></div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">THE WORD IMPOSSIBLE</a></h3>
                        <div class="text">They call him Flipper Flipper faster will than mad lightning no one you beat of just one drum...</div>
                    </div>
                    <div class="post-meta">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-heart-o"></span> 08 Likes</a></li>
                            <li><a href="#"><span class="fa fa-comment-o"></span> 03 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--News Style One-->
            <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-single.html"><img src="../images/resource/blog-image-4.jpg" alt=""></a></figure>
                        <div class="date"><span class="day">06</span><span class="month">Sep</span></div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">FLIPPER FASTER</a></h3>
                        <div class="text">They call him Flipper Flipper faster will than mad lightning no one you beat of just one drum...</div>
                    </div>
                    <div class="post-meta">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-heart-o"></span> 21 Likes</a></li>
                            <li><a href="#"><span class="fa fa-comment-o"></span> 19 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--News Style One-->
            <div class="news-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-single.html"><img src="../images/resource/blog-image-5.jpg" alt=""></a></figure>
                        <div class="date"><span class="day">13</span><span class="month">Oct</span></div>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">DEACTIVE SERVICES</a></h3>
                        <div class="text">They call him Flipper Flipper faster will than mad lightning no one you beat of just one drum...</div>
                    </div>
                    <div class="post-meta">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-heart-o"></span> 18 Likes</a></li>
                            <li><a href="#"><span class="fa fa-comment-o"></span> 12 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!--Sponsors Section-->
<section class="sponsors-section no-padding-top">
    <div class="auto-container">
        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-slider">
                <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></div></li>
                <li><div class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></div></li>
            </ul>
        </div>
    </div>
</section>

<script src="js/owl.js"></script>
<script src="js/script.js"></script>