<footer class="main-footer footer-style-one" style="background-image:url(../images/background/image-3.jpg);">
        
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Footer Column-->
                <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget contact-widget">
                        <h2>About Us</h2>
                        <div class="widget-content">
                            <div class="text">They call him Flipper Flipper faster than lightning no one you see is smarter than he well we are moving on up to the east side to a deluxe apartment in the sky love three boys of his own.</div>
                            
                            <ul class="contact-info">
                                <li><div class="icon"><span class="flaticon-location"></span></div>09-A Vilnius, New alaska, USA.</li>
                                <li><div class="icon"><span class="flaticon-technology-5"></span></div>1-6883-9001-090</li>
                                <li><div class="icon"><span class="flaticon-envelope"></span></div>info@vilnius.com</li>
                            </ul>
                            <a href="contact.html" class="theme-btn btn-style-one">GET LOCATION  <span class="fa fa-angle-right icon-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <h2>Quick Links</h2>
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ul class="list">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Services</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ul class="list">
                                        <li><a href="#">Gallery</a></li>
                                        <li><a href="#">Our Blog</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Newsletter Widget-->
                    <div class="footer-widget subscribe-widget">
                        <h2>NEWSLETTER</h2>
                        <div class="widget-content">
                            <div class="text">They call him Flipper Flipper faster the <br>lightning no one</div>
                            <div class="newsletter-form">
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="email" name="email" value="" placeholder="Enter Email" required>
                                        <button type="submit" class="theme-btn"><span class="fa fa-paper-plane"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!--Footer Column-->
                <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget posts-widget">
                        <h2>Latest Posts</h2>
                        <div class="widget-content">
                            <!--Post-->
                            <div class="post">
                                <figure class="image"><a href="#"><img src="../images/resource/post-thumb-1.jpg" alt=""></a></figure>
                                <div class="text"><a href="#">They call him Flipper Flipper faster than one you see is smarter.</a></div>
                                <div class="time">Posted on: Sep 29, 2016</div>
                            </div>
                            
                            <!--Post-->
                            <div class="post">
                                <figure class="image"><a href="#"><img src="../images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                <div class="text"><a href="#">They call him Flipper Flipper faster than one you see is smarter.</a></div>
                                <div class="time">Posted on: Sep 29, 2016</div>
                            </div>
                            
                            <!--Post-->
                            <div class="post">
                                <figure class="image"><a href="#"><img src="../images/resource/post-thumb-3.jpg" alt=""></a></figure>
                                <div class="text"><a href="#">They call him Flipper Flipper faster than one you see is smarter.</a></div>
                                <div class="time">Posted on: Sep 29, 2016</div>
                            </div>
                            
                        </div>
                    </div>
                </div>

             </div>
         </div>
     </div>

     <!--Footer Bottom-->
     <div class="footer-bottom">
         <div class="auto-container clearfix">
            <div class="copyright-text">&copy; Copyrights 2017 Vilnius. All Rights Reserved</div>
            <div class="social-links-one clearfix">
                <a href="#"><span class="fa fa-facebook-square"></span></a>
                <a href="#"><span class="fa fa-twitter-square"></span></a>
                <a href="#"><span class="fa fa-linkedin-square"></span></a>
                <a href="#"><span class="fa fa-google-plus-square"></span></a>
                <a href="#"><span class="fa fa-vimeo-square"></span></a>
            </div>
        </div>
     </div>

</footer>